body {
  background-color:lightskyblue;
  background-image: url('./imagenes/react-128.png');
  background-position-y: -90%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: 22%;

}
.Letras{
  font-size: calc(10px + 2vmin);
  color:black;
}
.Letras:hover{
  color:black;
  background-color:gray;
}